
{% extends 'layout2.html' %}
{% load i18n %}
{% load static %}

{% block css_include %}
{% endblock %}

{% block js_include %}
{% endblock %}


{% block content %}
  
  <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <a class="btn btn-flat btn-primary" href="{% url 'portal.authentication_access_control.edit' %}"><i class="fas fa-plus-circle">&nbsp;</i>{% translate "Add an entry" %}</a>
                      </div>
                    <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% translate "Access Control" %}</h1>
                </div>
                <div class="panel-body">
                  <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="authentication_access_control_list">
                  </table>
                </div>
            </div>
        </div>
    </div>
    <!--<i class="fa fa-fw fa-fighter-jet"></i>-->

  </section>

{% endblock %}

{% block jquery_code %}
  let authentication_access_control_clone_uri = "{% url 'portal.authentication_access_control.clone' %}"

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  var aoColumns = [
    {
      sTitle: "ID",
      name: "id",
      aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false,
    },
    {
      sTitle: '{% translate "Enabled" %}',
      name: "enabled",
      aTargets: [1],
      defaultContent: "",
      mData: "enabled",
      mRender: function(data, type, row){
        if (data)
          return "<i class='fa fa-check'></i>";
        return "<i class='fa fa-times'></i>";
      }
    },
    {
      sTitle: '{% translate "Name" %}',
      name: "name",
      aTargets: [2],
      defaultContent: "",
      mData: "name"
    },
    {
      sTitle: '{% translate "NB Rules" %}',
      name: "rules",
      aTargets: [3],
      defaultContent: "",
      mData: "rules",
      mRender: function(data, type, row) {
        if (data)
          return JSON.parse(data).length
        return ""
      }
    },
    {
      sTitle: '{% translate "Action" %}',
      mData:"id",
      aTargets: [4],
      defaultContent: "",
      mRender: function(data, type, row) {
        return '<a class="btn btn-flat btn-xs btn-primary btn-clone" data-toggle="tooltip" data-placement="top" title="{% translate 'Copy' %}"><span><i class="fa fa-copy"></i></span></a>' +
        '&nbsp;<a class="btn btn-flat btn-xs btn-danger btn-delete" data-toggle="tooltip" data-placement="top" href="/portal/authentication/acl/delete/' + data + '"" title="{% translate 'Delete' %}"><span><i class="fas fa-trash-alt"></i></span></a>';
      }
    }
  ];

  var authentication_access_control_table = $("#authentication_access_control_list").dataTable({
    bServerSide   : true,
    order         : [[1, 'desc']],
    iDisplayLength: 10,
    bProcessing   : true,
    bSort         : true,
    sAjaxSource   : '',
    aoColumnDefs: aoColumns,
    language: language_datatable,
    fnServerData  : function(sSource, aoData, fnCallback){

      var columns = [];
      for (var i in aoColumns){
        if( aoColumns[i].bSearchable !== false && aoColumns[i].mData !== null )
          columns.push(aoColumns[i].mData);
      }

      aoData.push({
        name: 'columns',
        value: JSON.stringify(columns)
      });

      $.ajax({
        type   : "POST",
        url    : sSource,
        data   : aoData,
        success: function(data, callback){
          if (!data.status){
            notify('error', "{% translate 'Error' %}", data.error);
          } else {
            fnCallback(data);
          }
        }
      }) // /$.ajax
      .fail( function( jqXHR, textStatus ) {
        notify('error', "{% translate 'Error' %}", jqXHR.responseText);
      }) // /$.fail
      .done( function( data ) {
        if (!data.status){
          notify('error', "{% translate 'Error' %}", data.error);
        } else {
          fnCallback(data);
        }
      }); // /$.done
    }, // /fnServerData

    fnCreatedRow: function(nRow, aData, iDataIndex) {
      $(nRow).on('click', function(e){
        e.stopPropagation();
        let id = aData['id'];
        window.location.href = `/portal/authentication/acl/edit/${id}`
      })
      
      $(nRow).find('.btn-clone').on('click', function(e) {
        e.stopPropagation();
        let txt = $(this).html()
        $(this).html("<i class='fa fa-spinner fa-spin'></i>")
        $(this).prop('disabled', true)
        let id = aData['id'];

        axios.post(authentication_access_control_clone_uri, {pk: id})
          .then((response) => {
            notify('success', gettext('Success'), gettext("Authentication ACL cloned"))
            authentication_access_control_table.DataTable().fnDraw();
          })
          .then(() => {
            $(this).html(txt)
            $(this).prop('disabled', false)  
          })
      })
    }
  }); 

{% endblock %}
