{% extends "layout2.html" %}
{% load i18n %}
{% load static %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}


{% block content %}

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <form id="tenant_edit_form" class="form-horizontal bootstrap-validator-form" action="" method="post" novalidate="novalidate">
          {% csrf_token %}
          <div class="panel">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% trans "Tenant Configuration" %}</h1>
            </div>
            <div class="panel-body">
              <div class="row">
                {# Print form errors correctly #}
                {% for error in form.errors.values %}
                  {{  error|safe }}
                {%  endfor %}
                {{api_error}}
                <div class="col-md-12 nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_general" data-toggle="tab">{% trans "General" %}</a></li>
                  </ul>
                  <div class="tab-content">
                    <br/>
                    <div class="tab-pane active" id="tab_general">
                      <div class="row">
                        <div class="form-group col-md-12">
                          <label class="col-sm-4 control-label">{% trans "Name" %}</label>
                          <div class="col-sm-5">
                            {{form.name}}
                            {{form.name.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <a type="button" href="{% url 'system.tenants.list' %}" class="btn btn-flat btn-default">{% trans "Cancel" %}</a>
              <button type="submit" class="btn btn-info btn-flat pull-right">{% trans "Submit" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}

{% block jquery_code %}

  $('.tageditor').tagEditor();

{% endblock %}
