{% extends "layout2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}


{% block content %}

  <!-- Main content -->
  <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h1 class="panel-title"><i class="fa fa-at">&nbsp;</i>{% trans "Virtual Machines" %}</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="vm_list">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
  </section>

{% endblock %}

{% block jquery_code %}
   var aoColumns = [
    {
      sTitle: "ID",
      name: "id", aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false
    },
    {
      sTitle: '{% trans "Node" %}',
      name: "node", aTargets: [1],
      defaultContent: "",
      mData: "node"
    },
    {
      sTitle: '{% trans "Name" %}',
      name: "name", aTargets: [2],
      defaultContent: "",
      mData: "name"
    },
    {
      sTitle: '{% trans "Datastore" %}',
      name: "datastore", aTargets: [3],
      defaultContent: "",
      mData: "datastore"
    },
    {
      sTitle: '{% trans "Loader" %}',
      name: "loader", aTargets: [4],
      defaultContent: "",
      mData: "loader"
    },
    {
      sTitle: '{% trans "CPU" %}',
      name: "cpu", aTargets: [5],
      defaultContent: "",
      mData: "cpu"
    },
    {
      sTitle: '{% trans "Memory" %}',
      name: "ram", aTargets: [6],
      defaultContent: "",
      mData: "ram"
    },
    {
      sTitle: '{% trans "Vnc" %}',
      name: "vnc", aTargets: [7],
      defaultContent: "",
      mData: "vnc"
    },
    {
      sTitle: '{% trans "Autostart" %}',
      name: "autostart", aTargets: [8],
      defaultContent: "",
      mData: "autostart"
    },
    {
      sTitle: '{% trans "Status" %}',
      name: "status", aTargets: [9],
      defaultContent: "",
      mData: "status"
    },
    {
      sTitle: '{% trans "Action" %}',
      mData:"id",
      aTargets: [10],
      defaultContent: "",
      mRender: function(data, type, row) {
        if (row.status=='Stopped') {
            res = '<a class="btn btn-flat btn-xs btn-danger" href="/system/vm/start/' + row.id + '" title="{% trans "Start the VM" %}"><span><i class="fas fa-play"></i></span></a>';
            return res + ' ' + '<a class="btn btn-flat btn-xs btn-danger" href="/system/vm/delete/' + row.id + '" title="{% trans "Delete the VM" %}"><span><i class="fas fa-trash-alt"></i></span></a>';
        }
        else if (row.status=='Running') {
            return '<a class="btn btn-flat btn-xs btn-danger" href="/system/vm/stop/' + row.id + '" title="{% trans "Stop the VM" %}"><span><i class="fas fa-stop"></i></span></a>';
        }
        else if (row.status=='Bootloader') {
            return '<a class="btn btn-flat btn-xs btn-danger" href="/system/vm/stop/' + row.id + '" title="{% trans "Stop the VM" %}"><span><i class="fas fa-stop"></i></span></a>';
        }
        else {
            return '';
        }
      }
    }
  ];

  var vm_table = $("#vm_list").dataTable({
      bServerSide   : true,
      order         : [[1, 'desc']],
      iDisplayLength: 8,
      bProcessing   : true,
      bSort         : true,
      sAjaxSource   : '',
      sServerMethod : 'POST',
      aoColumnDefs: aoColumns,
      language: language_datatable,
      fnServerData  : function(sSource, aoData, fnCallback){

        var columns = [];
        for (var i in aoColumns){
          columns.push(aoColumns[i].mData);
        }

        aoData.push({
          name: 'columns',
          value: JSON.stringify(columns)
        })

        $.ajax({
          type   : "POST",
          url    : sSource,
          data   : aoData,
          success: function(data, callback){
            if (check_json_error(data))
              fnCallback(data);
          }
        })
      },
  });

  /* Reload table data every 5 seconds */
  setInterval( function() {
    vm_table.fnDraw(false);
  }, 5000);

{% endblock %}
