{% extends "layout2.html" %}
{% load i18n %}
{% load static %}

{% block css_include %}


{% endblock %}

{% block js_include %}

{% endblock %}


{% block content %}

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <form id="kerberos_edit_form" class="form-horizontal bootstrap-validator-form" action="" method="post" novalidate="novalidate" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              {% if form.non_field_errors %}
              <div class="panel">
                <div class="panel-body">
                  {# Print form errors correctly #}
                  {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible">
                      <h4><i class="icon fa fa-ban"></i> {% translate "Form errors" %}</h4>
                      <div class="tab-content no-padding">
                        {{ form.non_field_errors|safe }}
                      </div>
                    </div>
                  {% endif %}
                </div> <!-- /.box-body -->
              </div> <!-- /.box -->
              {% endif %}
              <div class="panel">
                <div class="panel-header with-border">
                  <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% translate "Kerberos Repository edition" %}</h1>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form.name.label }}</label>
                          <div class="col-sm-5">
                            {{form.name}}
                            {{form.name.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                      <label class="col-sm-4 control-label">{{ form.realm.label }}</label>
                        <div class="col-sm-5">
                          {{form.realm}}
                          {{form.realm.errors|safe}}
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form.domain_realm.label }}</label>
                          <div class="col-sm-5">
                            {{form.domain_realm}}
                            {{form.domain_realm.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form.kdc.label }}</label>
                          <div class="col-sm-5">
                            {{form.kdc}}
                            {{form.kdc.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{form.admin_server.label}}</label>
                          <div class="col-sm-5">
                            {{form.admin_server}}
                            {{form.admin_server.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{form.krb5_service.label}}</label>
                          <div class="col-sm-5">
                            {{form.krb5_service}}
                            {{form.krb5_service.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{form.keytab.label}}</label>
                          <div class="col-sm-5">
                            {{form.keytab}}
                            {{form.keytab.errors|safe}}
                          </div>
                      </div>
                    </div>
                  </div> <!-- /.row -->
                  <div class="row">
                    <div class="col-sm-12" style="text-align:center;">
                      <button name="user_search_test" id="user_search_test" class="btn btn-success btn-flat"><span>{% translate "Test User authentication settings" %}</span></button>
                    </div>
                  </div> <!-- /.row -->
                </div> <!-- /.panel-body -->
                <div class="panel-footer">
                  <a type="button" href="{% url 'authentication.kerberos.list' %}" class="btn btn-flat btn-default">{% translate "Cancel" %}</a>
                  <button type="submit" class="btn btn-info btn-flat pull-right">{% translate "Save" %}</button>
                </div> <!-- /.box-footer -->
              </div> <!-- /.box -->
            </div>
          </div>
        </form>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->


  <div id="modal_test_user_search" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% translate "User authentication test" %}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label class="col-sm-6 control-label">{% translate "Username" %}</label>
              <div class="col-sm-6 form-group">
                <input type="text" name="test_username" id="test_username" data-placement="right" container="body" class="form-control has-popover" data-original-title="" title="">
              </div>
          </div>
          <div class="row">
            <label class="col-sm-6 control-label">{% translate "Password" %}</label>
            <div class="col-sm-6 form-group">
              <input type="password" name="test_password" id="test_password" data-placement="right" container="body" class="form-control has-popover" data-original-title="" title="">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12">
              <p id="user_search_test_msg" class="test_user"></p>
              <div id="user_phone" class="test_user"></div>
              <div id="user_email" class="test_user"></div>
              <div id="account_locked" class="test_user"></div>
              <div id="password_expired" class="test_user"></div>
              <div id="user_groups" class="test_user"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">{% translate "Cancel" %}</button>
          <button type="button" id="btn_send_user_search" class="btn btn-success btn-flat">{% translate "Test credentials" %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block jquery_code %}

  if (!String.prototype.endsWith) {
    String.prototype.endsWith = function(searchString, position) {
      var subjectString = this.toString();
      if (typeof position !== 'number' || !isFinite(position) || Math.floor(position) !== position || position > subjectString.length) {
        position = subjectString.length;
      }
      position -= searchString.length;
      var lastIndex = subjectString.lastIndexOf(searchString, position);
      return lastIndex !== -1 && lastIndex === position;
    };
  }

  /* Initialize select2 objects */
  let selects = Array.prototype.slice.call(document.querySelectorAll('.select2'));
  selects.forEach(function(html) {
    $(html).select2();
    if (html.attributes['data-original-title']) {
      $(html.nextElementSibling).tooltip({title: html.attributes['data-original-title'].value, placement: "bottom"});
    }
  });

  /* Switchery mandatory code */
  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
  elems.forEach(function(html) {
    var switchery = new Switchery(html, {
      'color': '#FA9834',
    });
    if (html.attributes['data-original-title']) {
      $(html.nextElementSibling).tooltip({title: html.attributes['data-original-title'].value, placement: "bottom"});
    }
  });



  function handle_form_errors(data){
    if (typeof(data['form_errors']) !== 'undefined'){
      $('.errorlist').remove();
      $.each(data['form_errors'], function(field_name, error_list){
        field_selector = $('#id_'+field_name);
        var ul = $('<ul/>').insertAfter(field_selector);
        $.each(error_list, function(idx, err_msg){
          console.log(err_msg);
          var li = $('<li/>').addClass('errorlist').attr('role', 'menuitem').appendTo(ul);
          var group = $('<span/>').text(err_msg).appendTo(li);
        });
      });
    }
  }


  /*User search test*/
  $('#user_search_test').on("click", function(e){
    $('.test_user').html('');
    $("#modal_test_user_search").modal('show');
    e.preventDefault();
  });


function getBase64File(file) {
    console.log(file);
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsBinaryString(file);
      reader.onload = () => resolve(btoa(reader.result));
      reader.onerror = error => reject(error);
    });
  }


  $('#btn_send_user_search').on("click", function(e){
    $('.test_user').html('');
    username = $('#test_username').val();
    password = $('#test_password').val();
    url = "/authentication/kerberos/user_search_test/";

    //form_data = $('#kerberos_edit_form').serializeArray();
    var form = $('#kerberos_edit_form')[0];
    var data = new FormData(form);
    data.append("username", username);
    data.append("password", password);

    //var indexed_data = {};
    //$.map(form_data, function(n, i){
    //    indexed_data[n['name']] = n['value'];
    //});
    //indexed_data['username'] = username;
    //indexed_data['password'] = password;

    //getBase64File( new FormData($('#kerberos_edit_form')[0]).get('keytab')).then(keytab => {
      //indexed_data['keytab'] = keytab;
      $.ajax({
        url: url,
        type: "POST",
        data: data,
        enctype: 'multipart/form-data',
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function(data) {
          status = data['status'];
          handle_form_errors(data);
          if(status == 'true'){
            $('#user_search_test_msg').html('<b style="color:green;">{% translate "Successful authentication" %}</b>');
            $('#user_search_test_msg').append("<br/><pre>"+data['data']+"</pre>");
          }
          else{
            reason = data['reason'];
            $('#user_search_test_msg').html("<b style='color:red;'>{% translate 'Unable to authenticate user, reason: '%}" + reason + "</b>");
          }
        }
      });
    //}).catch(error => displayMessage('Error while encoding file', error, 'error'));
  });

  //}); // end of function()

{% endblock %}
