{% extends 'layout2.html' %}
{% load i18n %}
{% load static %}

{% block css_include %}
{% endblock %}

{% block js_include %}
{% endblock %}


{% block content %}
  
  <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                      <a class="btn btn-flat btn-primary" href="{% url 'authentication.radius.edit' %}"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "Add an entry" %}</a>
                    </div>
                    <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% translate "Radius Repository" %}</h1>
                </div>
                <div class="panel-body">
                  <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="radius_list">
                  </table>
                </div>
            </div>
        </div>
    </div>
    <!--<i class="fa fa-fw fa-fighter-jet"></i>-->

  </section>

{% endblock %}

{% block jquery_code %}

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  var datatableCanRedraw = true;

  var aoColumns = [
    {
      sTitle: "ID",
      name: "id",
      aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false,
    },
    {
      sTitle: '{% translate "Name" %}',
      name: "name",
      aTargets: [1],
      defaultContent: "",
      mData: "name"
    },
    {
      sTitle: '{% translate "Server : Port" %}',
      name: "uri",
      aTargets: [2],
      defaultContent: "",
      mData: "uri"
    },
    {
      sTitle: '{% translate "Nas ID" %}',
      name: "nas_id",
      aTargets: [3],
      defaultContent: "",
      mData: "nas_id"
    },
    {
      sTitle: '{% translate "Retries number" %}',
      name: "retry",
      aTargets: [4],
      defaultContent: "",
      mData: "retry"
    },
    {
      sTitle: '{% translate "Connection timeout" %}',
      name: "timeout",
      aTargets: [5],
      defaultContent: "",
      mData: "timeout"
    },
    {
      sTitle: '{% translate "Action" %}',
      mData:"id",
      aTargets: [6],
      defaultContent: "",
      mRender: function(data, type, row) {
        return '<a class="btn btn-flat btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Copy" href="/authentication/radius/clone/' + data + '"><span><i class="fa fa-copy"></i></span></a>' +
        '&nbsp;<a class="btn btn-flat btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" href="/authentication/radius/delete/' + data + '"><span><i class="fas fa-trash-alt"></i></span></a>';
      }
    }
  ];

  var radius_table = $("#radius_list").dataTable({
    bServerSide   : true,
    order         : [[1, 'desc']],
    iDisplayLength: 10,
    bProcessing   : true,
    bSort         : true,
    sAjaxSource   : '',
    sServerMethod : 'POST',
    aoColumnDefs: aoColumns,
    language: language_datatable,
    fnServerData  : function(sSource, aoData, fnCallback){

      var columns = [];
      for (var i in aoColumns){
        if( aoColumns[i].bSearchable !== false && aoColumns[i].mData !== null )
          columns.push(aoColumns[i].mData);
      }

      aoData.push({
        name: 'columns',
        value: JSON.stringify(columns)
      });

      $.ajax({
        type   : "POST",
        url    : sSource,
        data   : aoData,
        success: function(data, callback){
          if (!data.status){
            notify('error', "{% translate 'Error' %}", data.error);
          } else {
            fnCallback(data);
          }
        }
      }) // /$.ajax
      .fail( function( jqXHR, textStatus ) {
        notify('error', "{% translate 'Error' %}", jqXHR.responseText);
      }) // /$.fail
      .done( function( data ) {
        if (!data.status){
          notify('error', "{% translate 'Error' %}", data.error);
        } else {
          fnCallback(data);
        }
      }); // /$.done
    }, // /fnServerData

    fnCreatedRow: function(nRow, aData, iDataIndex){

      /* Events binding to edit a template */
      $(nRow).on('click', 'td', function(e) {
        if (e.target.tagName !== "TD") return;
        const url = "{% url 'authentication.radius.edit' %}" + aData.id
        /* Open edition in a new tab with ctrl click */
        if (e.ctrlKey || e.metaKey) {
          window.open(url, '_blank');
        } else {
          window.location.href = url;
        }
      }); // /$(nRow).on('click', 'td'

      /* Open edition in a new tab with middle click */
      $(nRow).on('mousedown', 'td', function(e){
        if (e.target.tagName === "TD" && e.button === 1) {
          window.open("{% url 'authentication.radius.edit' %}" + aData.id, '_blank');
        }
      }); // /$(nRow).on('mousedown', 'td'
    }, // fnCreatedRow: function

    fnDrawCallback: function(settings){
      datatableCanRedraw = true;
    }, // fnDrawCallback: function

  }); // var radius_table = $("#radius_list").dataTable


  /* Reload table data every 5 seconds if previous one answered */
  setInterval(function(){
    if(datatableCanRedraw == true) {
      datatableCanRedraw = false;
      radius_table.fnDraw(false);
    }
  }, 5000);


{% endblock %}
