{% extends "layout2.html" %}
{% load i18n %}
{% load static %}

{% block css_include %}


{% endblock %}

{% block js_include %}

  <script src="{% static 'js/mod_defender_policy.js' %}"></script>

{% endblock %}


{% block content %}

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <form id="policy_edit_form" class="form-horizontal bootstrap-validator-form" action="" method="post" novalidate="novalidate">
          {% csrf_token %}
            <div class="panel-title with-border">
                <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% trans "WAF Policies" %}</h1>
            </div>
              <div class="panel-body">
                {# Print form errors correctly #}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissible">
                    <h4><i class="icon fa fa-ban"></i> Form errors </h4>
                    <div class="tab-content no-padding">
                      {{ form.non_field_errors|safe }}
                    </div>
                  </div>
                {% endif %}
                {# If there is save/configuration errors #}
                {% if save_error %}
                  <div class="alert alert-danger alert-dismissible nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                      <li><a href="#tab_2" data-toggle="tab">Advanced informations</a></li>
                      <li class="active"><a href="#tab_1" data-toggle="tab">Message</a></li>
                      <li class="pull-left header"><i class="fa fa-inbox"></i>Configuration error</li>
                    </ul>
                    <div class="tab-content no-padding">
                      <div class="tab-pane active" id="tab_1">
                        <pre>{{ save_error.0 }}</pre>
                      </div>
                      <div class="tab-pane" id="tab_2">
                        <pre>{{ save_error.1 }}</pre>
                      </div>
                    </div>
                  </div> <!-- /.alert -->
                {% endif %}
                {# If there is connection test errors #}
                {% if connection_error %}
                  <div class="alert alert-danger alert-dismissible nav-tabs-custom">
                    <h4>Connection error</h4>
                    {{ connection_error }}
                  </div> <!-- /.alert -->
                {% endif %}
                {# If there is success message #}
                {% if success %}
                  <div class="alert alert-success alert-dismissible nav-tabs-custom">
                    <h4>Success</h4>
                    <pre>{{ success }}</pre>
                  </div> <!-- /.alert -->
                {% endif %}
              </div> <!-- /.box-body -->
            </div> <!-- /.box -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab_general">
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.name.label }}</label>
                            <div class="col-sm-5">
                              {{form.name}}
                              {{form.name.errors|safe}}
                            </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="form-group col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.request_body_limit.label }}</label>
                            <div class="col-sm-5">
                              {{form.request_body_limit}}
                              {{form.request_body_limit.errors|safe}}
                            </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="form-group col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.enable_libinjection_sql.label }}</label>
                            <div class="col-sm-5">
                              {{form.enable_libinjection_sql}}
                              {{form.enable_libinjection_sql.errors|safe}}
                            </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="form-group col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.enable_libinjection_xss.label }}</label>
                            <div class="col-sm-5">
                              {{form.enable_libinjection_xss}}
                              {{form.enable_libinjection_xss.errors|safe}}
                            </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="form-group col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.defender_ruleset.label }}</label>
                            <div class="col-sm-5">
                              {{form.defender_ruleset}}
                              {{form.defender_ruleset.errors|safe}}
                            </div>
                            <button class="btn btn-box-tool" type="button" data-toggle="collapse" data-target=".whitelist-rules-edit">
                              <i class="fas fa-edit"></i> Edit
                            </button>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="whitelist-rules-edit collapse">
                      <div class="row">
                        <div class="form-group col-md-12">
                          <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "WAF Rules" %}</label>
                            <div class="col-sm-5">
                              <textarea id="mod-defender-raw-rules"></textarea>
                            </div>
                          </div>
                        </div>
                      </div> <!-- /.row -->
                      <div class="row">
                        <div class="form-group col-md-12">
                          <div class="form-group">
                          <label class="col-sm-4"></label>
                            <div class="col-sm-5">
                              <button id="mod-defender-update-ruleset-button" class="btn btn-info btn-flat pull-right">{% trans "Update ruleset" %}</button>
                            </div>
                          </div>
                        </div>
                      </div> <!-- /.row -->
                    </div>
                  </div> <!-- /.box-body -->
                  <div class="panel-footer">
                    <a type="button" href="{% url 'darwin.defender_policy.list' %}" class="btn btn-flat btn-default">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-info btn-flat pull-right">{% trans "Submit" %}</button>
                  </div> <!-- /.box-footer -->
                </div> <!-- /.box -->
            </div> <!-- /.tab-content -->
          </div> <!-- /.nav-tabs-custom -->
        </form>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</section> <!-- /.content -->

{% endblock %}

{% block jquery_code %}
  const defenderRulesetUrl = '{% url "darwin.defender_policy.rulesets" %}';
  const defenderRawRulesetUrl = '{% url "darwin.defender_policy.raw_rulesets" 42 %}';

  if (!String.prototype.endsWith) {
    String.prototype.endsWith = function(searchString, position) {
      var subjectString = this.toString();
      if (typeof position !== 'number' || !isFinite(position) || Math.floor(position) !== position || position > subjectString.length) {
        position = subjectString.length;
      }
      position -= searchString.length;
      var lastIndex = subjectString.lastIndexOf(searchString, position);
      return lastIndex !== -1 && lastIndex === position;
    };
  }

  /* Initialize select2 objects */
  $('.select2').select2();

  /* Switchery mandatory code */
  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch:not(#decision_enabled)'));
    elems.forEach(function(html) {
    var switchery = new Switchery(html, {
      'color': '#FA9834',
    });
  });


  /* Initialize Switchery of decision_enabled element
  var decision_enabled_js = new Switchery(document.querySelector('#decision_enabled'), {
    'color': '#FA9834',
  });
   And disable the button
  decision_enabled_js.disable(); */

  /* Re-enable decision */
  $('#policy_edit_form').submit(function(event) {
    decision_enabled_js.enable();
  });


  function handle_form_errors(data){
    if (typeof(data['form_errors']) !== 'undefined'){
      $('.errorlist').remove();
      $.each(data['form_errors'], function(field_name, error_list){
        field_selector = $('#id_'+field_name);
        var ul = $('<ul/>').insertAfter(field_selector);
        $.each(error_list, function(idx, err_msg){
          console.log(err_msg);
          var li = $('<li/>').addClass('errorlist').attr('role', 'menuitem').appendTo(ul);
          var group = $('<span/>').text(err_msg).appendTo(li);
        });
      });
    }
  }



  //}); // end of function()

{% endblock %}
