{% extends 'layout2.html' %}
{% load i18n %}
{% load static %}

{% block css_include %}
{% endblock %}

{% block js_include %}
{% endblock %}


{% block content %}

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="tab-select">
          <li class="active"><a href="#tab_policies" data-toggle="tab" id="tab_policy">{% trans "Policies" %}</a> </li>
          <li><a href="#tab_rules" data-toggle="tab" id="tab_rule">{% trans "Rules" %}</a> </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_policies">
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-control">
                  <a class="btn btn-flat btn-primary" href="{% url 'darwin.inspection_policies.edit' %}"><i class="fa fa-plus-circle">&nbsp;</i>{% trans "Add a policy" %}</a>
                </div>
                <h1 class="panel-title"><i class="fa fa-cogs">&nbsp;</i>{% trans "Inspection Policies" %}</h1>
              </div>
              <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="inspection_policies_list">
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab_rules">
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-control">
                  <button name="update_rules" id="update_rules" class="btn btn-primary btn-flat rules-elems">
                    <i id="update_status" class="fa fa-sync">&nbsp;</i><span>{% trans "Update rules online" %}</span>
                  </button>
                  <a class="btn btn-flat btn-primary" href="{% url 'darwin.inspection_rules.edit' %}"><i class="fa fa-plus-circle">&nbsp;</i>{% trans "Add a rule" %}</a>
                </div>
                <h1 class="panel-title"><i class="fa fa-cogs">&nbsp;</i>{% trans "Inspection Rules" %}</h1>
              </div>
              <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="inspection_rules_list"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block jquery_code %}

$(window).on("popstate", function() {
  var anchor = sessionStorage.getItem('saved_tab') || $("a[data-toggle='tab']").first().attr("href");
  $("a[href='" + anchor + "']").tab("show");
});

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

    // Show and save last tab
    if (sessionStorage.getItem('saved_tab')) {
      $("a[href='" + sessionStorage.getItem('saved_tab') + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
      sessionStorage.setItem('saved_tab', this.getAttribute("href"));
    });

    $('#update_rules').on("click", function(e) {

      url = "/api/v1/darwin/inspection/rules/update/";
      $.ajax({
        type   : "POST",
        url    : url
      }) // /$.ajax
      .fail( function( jqXHR, textStatus ) {
        new PNotify({
          title: 'Unknown error occurred',
          text: '<a style="color:white; text-decoration: underline; font-weight: bold;">'+jqXHR.responseText
                +'</a>',
          type: 'error',
          styling: 'bootstrap3',
          width: '500px',
          buttons: {
              closer: true,
              sticker: false
          }
        });
      }) // /$.fail
      .done( function( msg ) {
        if( msg.status ) {
          new PNotify({
            title: "Success",
            text: '<a style="color:white; text-decoration: underline; font-weight: bold;">'+msg.message+'</a>',
            type: 'success',
            styling: 'bootstrap3',
            width: '500px',
            buttons: {
                closer: true,
                sticker: false
            }
          });
        } else {
          new PNotify({
            title: msg.error,
            text: '<a style="color:white; text-decoration: underline; font-weight: bold;">'+msg.error_details+'</a>',
            type: 'error',
            styling: 'bootstrap3',
            width: '500px',
            buttons: {
                closer: true,
                sticker: false
            }
          });
        }
      }); // /$.done
        e.preventDefault();
    });
  });

  var aoColumns_policies = [
    {
      sTitle: "ID",
      name: "id",
      aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false,
    },
    {
      sTitle: '{% trans "Last Update" %}',
      name: "last_update",
      aTargets: [1],
      defaultContent: "",
      mData: "last_update",
      sWidth: "10%"
    },
    {
      sTitle: '{% trans "Name" %}',
      name: "name",
      aTargets: [2],
      defaultContent: "",
      mData: "name",
      sWidth: "10%"
    },
    {
      sTitle: '{% trans "Status" %}',
      name: "compilable",
      aTargets: [3],
      defaultContent: "",
      mData: "compilable",
      sWidth: "5%",
      mRender: function(data, type, row){
        if (data === "OK")
          return "<i class='fa fa-check' style='color:#00A65A'></i>";
        if (data === "KO")
          return "<i class='fa fa-times' style='color:#ba160a'></i>";
        return "<i class='fa fa-spinner'></i>";
      }
    },
    {
      sTitle: '{% trans "Techno" %}',
      name: "techno",
      aTargets: [4],
      defaultContent: "",
      mData: "techno",
      sWidth: "10%"
    },
    {
      sTitle: '{% trans "Description" %}',
      name: "description",
      aTargets: [5],
      defaultContent: "",
      mData: "description",
      bSearchable: true,
      sWidth: "40%"
    },
    {
      sTitle: '{% trans "Action" %}',
      mData:"id",
      aTargets: [6],
      defaultContent: "",
      bSearchable: false,
      sWidth: "5%",
      mRender: function(data, type, row) {
        return '<a class="btn btn-flat btn-xs btn-primary btn-clone" data-toggle="tooltip" data-placement="top" title="Copy"><span><i class="fa fa-copy"></i></span></a>' +
                '<a class="btn btn-flat btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" href="/darwin/inspection/policy/delete/' + data + '"><span><i class="fas fa-trash-alt"></i></span></a>';
      }
    }
  ];

  var aoColumns_rules = [
    {
      sTitle: "ID",
      name: "id",
      aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false,
    },
    {
      sTitle: '{% trans "Last Update" %}',
      name: "last_update",
      aTargets: [1],
      defaultContent: "",
      mData: "last_update",
      sWidth: "10%"
    },
    {
      sTitle: '{% trans "Name" %}',
      name: "name",
      aTargets: [2],
      defaultContent: "",
      mData: "name",
      sWidth: "15%"
    },
    {
      sTitle: '{% trans "Techno" %}',
      name: "techno",
      aTargets: [3],
      defaultContent: "",
      mData: "techno",
      sWidth: "10%"
    },
    {
      sTitle: '{% trans "Category" %}',
      name: "category",
      aTargets: [4],
      defaultContent: "",
      mData: "category",
      sWidth: "30%"
    },
    {
      sTitle: '{% trans "Source" %}',
      name: "source",
      aTargets: [5],
      defaultContent: "",
      mData: "source",
      sWidth: "30%"
    },
    {
      sTitle: '{% trans "Action" %}',
      mData:"id",
      aTargets: [6],
      defaultContent: "",
      bSearchable: false,
      sWidth: "5%",
      mRender: function(data, type, row) {
        return '<a class="btn btn-flat btn-xs btn-primary btn-clone" data-toggle="tooltip" data-placement="top" title="Copy"><span><i class="fa fa-copy"></i></span></a>' +
                '<a class="btn btn-flat btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" href="/darwin/inspection/rule/delete/' + data + '"><span><i class="fas fa-trash-alt"></i></span></a>';


      }
    }
  ];

  var inspection_policies_table = $("#inspection_policies_list").dataTable({
    bServerSide   : true,
    order         : [[1, 'desc']],
    iDisplayLength: 10,
    bProcessing   : true,
    bSort         : true,
    sAjaxSource   : '/darwin/inspection/',
    sServerMethod : 'POST',
    aoColumnDefs: aoColumns_policies,
    language: language_datatable,
    fnServerData  : function(sSource, aoData, fnCallback){

      var columns = [];
      for (var i in aoColumns_policies){
        if( aoColumns_policies[i].bSearchable !== false && aoColumns_policies[i].mData !== null )
          columns.push(aoColumns_policies[i].mData);
      }

      aoData.push({
        name: 'columns',
        value: JSON.stringify(columns)
      });

      $.ajax({
        type   : "POST",
        url    : sSource,
        data   : aoData,
        success: function(data, callback){
          if (!data.status){
            notify('error', "{% trans 'Error' %}", data.error);
          } else {
            fnCallback(data);
          }
        }
      }) // /$.ajax
      .fail( function( jqXHR, textStatus ) {
        notify('error', "{% trans 'Error' %}", jqXHR.responseText);
      }) // /$.fail
      .done( function( data ) {
        if (!data.status){
          notify('error', "{% trans 'Error' %}", data.error);
        } else {
          fnCallback(data);
        }
      }); // /$.done
    }, // /fnServerData

    fnCreatedRow: function(nRow, aData, iDataIndex){

      /* Events binding to edit a template */
      $(nRow).on('click', function(e){
          var id = aData['id'];
          window.location.href = "/darwin/inspection/policy/edit/" + id;
      });

      $(nRow).find('.btn-clone').on('click', function(e){
        e.stopPropagation();

        $.post(
          '{% url "darwin.inspection_policies.clone" %}',
          {'pk': aData['id']},

          function(response){
            if (check_json_error(response)){
              notify('success', '{% trans "Success" %}', '{% trans "Policy cloned" %}');
              access_control_table.DataTable().fnDraw();
            }
          }
        )
      })
    }
  });

  var inspection_rules_table = $("#inspection_rules_list").dataTable({
    bServerSide   : true,
    order         : [[1, 'desc']],
    iDisplayLength: 10,
    bProcessing   : true,
    bSort         : true,
    sAjaxSource   : '/darwin/inspection/rules',
    sServerMethod : 'POST',
    aoColumnDefs: aoColumns_rules,
    language: language_datatable,
    fnServerData  : function(sSource, aoData, fnCallback){

      var columns = [];
      for (var i in aoColumns_rules){
        if( aoColumns_rules[i].bSearchable !== false && aoColumns_rules[i].mData !== null )
          columns.push(aoColumns_rules[i].mData);
      }

      aoData.push({
        name: 'columns',
        value: JSON.stringify(columns)
      });

      $.ajax({
        type   : "POST",
        url    : sSource,
        data   : aoData,
        success: function(data, callback){
          if (!data.status){
            notify('error', "{% trans 'Error' %}", data.error);
          } else {
            fnCallback(data);
          }
        }
      }) // /$.ajax
      .fail( function( jqXHR, textStatus ) {
        notify('error', "{% trans 'Error' %}", jqXHR.responseText);
      }) // /$.fail
      .done( function( data ) {
        if (!data.status){
          notify('error', "{% trans 'Error' %}", data.error);
        } else {
          fnCallback(data);
        }
      }); // /$.done
    }, // /fnServerData

    fnCreatedRow: function(nRow, aData, iDataIndex){

      /* Events binding to edit a template */
      $(nRow).on('click', function(e){
          var id = aData['id'];
          window.location.href = "/darwin/inspection/rule/edit/" + id;
      });

      $(nRow).find('.btn-clone').on('click', function(e){
        e.stopPropagation();
        $.post(
          '{% url "darwin.inspection_rules.clone" %}',
          {'pk': aData.id},

          function(response){
            if (check_json_error(response)){
              notify('success', '{% trans "Success" %}', '{% trans "Rule cloned" %}');
              access_control_table.DataTable().fnDraw();
            }
          }
        )
      })
    }
  });

{% endblock %}