{% extends "layout2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css_include %}


{% endblock %}

{% block js_include %}


{% endblock %}


{% block content %}

 <section class="content">
  <div class="row">
    <div class="col-md-12">
      <form id="inspection_rules_form" class="form-horizontal bootstrap-validator-form" action="" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            {% if form.non_field_errors %}
            <div class="panel">
              <div class="panel-body">
                {# Print form errors correctly #}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissible">
                    <h4><i class="icon fa fa-ban"></i> {% trans "Form errors" %}</h4>
                    <div class="tab-content no-padding">
                      {{ form.non_field_errors|safe }}
                    </div>
                  </div>
                {% endif %}
              </div> <!-- /.box-body -->
            </div> <!-- /.box -->
            {% endif %}
            <div class="panel">
              <div class="panel-header with-border">
                <h1 class="panel-title"><i class="fa fa-cogs">&nbsp;</i>{% trans "Inspection rules edition" %}</h1>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">{{ form.name.label }}</label>
                        <div class="col-sm-5">
                          {{form.name}}
                          {{form.name.errors|safe}}
                        </div>
                    </div>
                  </div>
                </div> <!-- /.row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                    <label class="col-sm-4 control-label">{{ form.techno.label }}</label>
                      <div class="col-sm-5">
                        {{form.techno}}
                        {{form.techno.errors|safe}}
                      </div>
                    </div>
                  </div>
                </div> <!-- /.row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">{{ form.category.label }}</label>
                        <div class="col-sm-5">
                          {{form.category}}
                          {{form.category.errors|safe}}
                        </div>
                    </div>
                  </div>
                </div> <!-- /.row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">{{ form.content.label }}</label>
                        <div class="col-sm-5">
                          {{form.content}}
                          {{form.content.errors|safe}}
                        </div>
                    </div>
                  </div>
                </div> <!-- /.row -->
              </div> <!-- /.panel-body -->
              <div class="panel-footer">
                <a type="button" href="{% url 'darwin.inspection_policies' %}" class="btn btn-flat btn-default">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-info btn-flat pull-right">{% trans "Save" %}</button>
              </div> <!-- /.box-footer -->
            </div> <!-- /.box -->
          </div>
        </div>
      </form>
    </div> <!-- /.col-md-12 -->
  </div> <!-- /.row -->
 </section> <!-- /.section -->

{% endblock %}

{% block jquery_code %}

  /* Initialize select2 objects */
  $('.select2').select2();

  /* Switchery mandatory code */
  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch:not(#decision_enabled)'));
    elems.forEach(function(html) {
    var switchery = new Switchery(html, {
      'color': '#FA9834',
    });
  });


  /* Initialize Switchery of decision_enabled element
  var decision_enabled_js = new Switchery(document.querySelector('#decision_enabled'), {
    'color': '#FA9834',
  });
   And disable the button
  decision_enabled_js.disable(); */

  /* Re-enable decision */
  $('#policy_edit_form').submit(function(event) {
    decision_enabled_js.enable();
  });


  function handle_form_errors(data){
    if (typeof(data['form_errors']) !== 'undefined'){
      $('.errorlist').remove();
      $.each(data['form_errors'], function(field_name, error_list){
        field_selector = $('#id_'+field_name);
        var ul = $('<ul/>').insertAfter(field_selector);
        $.each(error_list, function(idx, err_msg){
          console.log(err_msg);
          var li = $('<li/>').addClass('errorlist').attr('role', 'menuitem').appendTo(ul);
          var group = $('<span/>').text(err_msg).appendTo(li);
        });
      });
    }
  }

  //}); // end of function()

{% endblock %}
