{% extends 'layout2.html' %}
{% load i18n %}
{% load static %}

{% block css_include %}
{% endblock %}

{% block js_include %}
{% endblock %}


{% block content %}

  <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/File/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "File" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/RELP/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "RELP" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/Redis/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "Redis" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/Syslog/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "Syslog" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/Elasticsearch/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "Elasticsearch" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/MongoDB/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "MongoDB" %}</a>
                        <a class="btn btn-flat btn-primary" href="/apps/logfwd/edit/Kafka/"><i class="fa fa-plus-circle">&nbsp;</i>{% translate "Kafka" %}</a>
                    </div>
                    <h1 class="panel-title"><i class="fa fa-sitemap">&nbsp;</i>{% translate "Logs Forwarders" %}</h1>
                </div>

                <div class="panel-body">
                  <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="logfwd_list">
                  </table>
                </div>
            </div>
        </div>
    </div>

  </section>

{% endblock %}

{% block jquery_code %}

   var aoColumns = [
    {
      sTitle: "ID",
      name: "id",
      aTargets: [0],
      defaultContent: "",
      mData: "id",
      bVisible: false
    },
    {
      sTitle: '{% translate "Name" %}',
      name: "name",
      aTargets: [1],
      defaultContent: "",
      mData: "name",
      mRender: function(data, type, row) {
        var result = "";
          switch( row.enabled ) {
            case true:
              result += '<img width="16" height="16" src="{% static 'img/status_green.png' %}" class="img_responsive"/>&nbsp;';
              break;
            case false:
              result += '<img width="16" height="16" src="{% static 'img/status_grey.png' %}" class="img_responsive"/>&nbsp;';
              break;
            default:
              result += '<img width="16" height="16" src="{% static 'img/status_red.png' %}" class="img_responsive"/>&nbsp;';
              break;
          }
        return result + data;
      }
    },
    {
      sTitle: '{% translate "Internal" %}',
      name: "internal",
      aTargets: [2],
      defaultContent: "",
      mData: "internal",
      bVisible: false
    },
    {
      sTitle: '{% translate "Type" %}',
      name: "type",
      aTargets: [3],
      defaultContent: "",
      mData: "type",
    },
    {
      sTitle: '{% translate "Output" %}',
      name: "output",
      aTargets: [4],
      defaultContent: "",
      mData: "output"
    },
    {
      sTitle: '{% translate "Action" %}',
      mData:"id",
      aTargets: [5],
      defaultContent: "",
      mRender: function(data, type, row) {
        var type = row.type;

        if (row.internal)
          return "";

        return  '<a class="btn btn-flat btn-xs btn-primary" href="/apps/logfwd/clone/' + type + '/' + data + '"><span><i class="fa fa-copy"></i></span></a>' +
                '&nbsp;<a class="btn btn-flat btn-xs btn-danger" href="/apps/logfwd/delete/' + type + '/' + data + '"><span><i class="fas fa-trash-alt"></i></span></a>';
      }
    }
  ];

  var logfwd_table = $("#logfwd_list").dataTable({
      bServerSide   : true,
      order         : [[1, 'desc']],
      iDisplayLength: 10,
      bProcessing   : true,
      bSort         : true,
      sAjaxSource   : '',
      sServerMethod : 'POST',
      aoColumnDefs: aoColumns,
      language: language_datatable,
      fnServerData  : function(sSource, aoData, fnCallback){

        var columns = [];
        for (var i in aoColumns){
          columns.push(aoColumns[i].mData);
        }

        aoData.push({
          name: 'columns',
          value: JSON.stringify(columns)
        })

        $.ajax({
          type   : "POST",
          url    : sSource,
          data   : aoData,
          success: function(data, callback){
            if (check_json_error(data))
              fnCallback(data);
          }
        })
      },
      fnCreatedRow: function(nRow, aData, iDataIndex){
        /* Events binding to edit a logfwd */
        $(nRow).on('click', 'td', function(e) {
          if (e.target.tagName !== "TD") return;
          const url = "/apps/logfwd/edit/" + aData.type + "/" + aData.id
          /* Open a logfwd edition in a new tab with ctrl click */
          if (e.ctrlKey || e.metaKey) {
            window.open(url, '_blank');
          } else {
            window.location.href = url;
          }
        }); // /$(nRow).on('click', 'td'

        /* Open a logfwd edition in a new tab with middle click */
        $(nRow).on('mousedown', 'td', function(e){
          if (e.target.tagName === "TD" && e.button === 1) {
            window.open("/apps/logfwd/edit/" + aData.type + "/" + aData.id, '_blank');
          }
        }); // /$(nRow).on('mousedown', 'td'
      }
  });

{% endblock %}
