{% extends 'layout2.html' %}
{% load i18n %}
{% load staticfiles %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}


{% block content %}

  <script>
    var netdataTheme = 'slate';
    var netdataNoFontAwesome = true;
    var netdataNoBootstrap = true;
  </script>
  
  <script src="/netdata/{{ CURRENT_NODE }}/dashboard.js?v20180326-2"></script>
  <script>
    

    // --- OPTIONS FOR THE CHARTS --
    // destroy charts not shown (lowers memory on the browsers)
    
    // set this to 'true' to destroy, 'false' to hide the charts
    NETDATA.options.current.destroy_on_hide = false;
    
    // set this to false, to always show all dimensions
    NETDATA.options.current.eliminate_zero_dimensions = true;
    
    // set this to false, to lower the pressure on the browser
    NETDATA.options.current.concurrent_refreshes = true;

    // if you need to support slow mobile phones, set this to false
    NETDATA.options.current.parallel_refresher = true;

    // set this to false, to always update the charts, even if focus is lost
    NETDATA.options.current.stop_updates_when_focus_is_lost = true;

    // since we have many servers and limited sockets,
    // abort ajax calls when we scroll
    NETDATA.options.current.abort_ajax_on_scroll = true;
  </script>

  <section class="content">
    <div class="row">
      {% for node in nodes %}
        <div class="col-md-{{ cols }}">
          <fieldset class="graph-row">
            <legend>{{ node.name }}</legend>
            <div  class="netdata-container-with-legend"
              id="chart_haproxy_listeners_health_idle"
              data-netdata="haproxy_listeners.health_idle"
              data-host="/netdata/{{ node }}/"
              data-width="100%"
              data-height="180px"
              data-dygraph-valuerange="[null, null]"
              data-before="0"
              data-after="-480"
              data-id="haproxy_listeners_health_idle"
              data-colors=""
              data-decimal-digits="-1"
              role="application">
            </div></br></br>
            <div  class="netdata-container-with-legend"
              id="chart_haproxy_listeners_fbin"
              data-netdata="haproxy_listeners.fbin"
              data-host="/netdata/{{ node }}/"
              data-width="100%"
              data-height="180px"
              data-dygraph-valuerange="[null, null]"
              data-before="0"
              data-after="-480"
              data-id="haproxy_listeners_fbin"
              data-colors=""
              data-decimal-digits="-1"
              role="application">
            </div></br></br>
            <div  class="netdata-container-with-legend"
              id="chart_haproxy_listeners_fbout"
              data-netdata="haproxy_listeners.fbout"
              data-host="/netdata/{{ node }}/"
              data-width="100%"
              data-height="180px"
              data-dygraph-valuerange="[null, null]"
              data-before="0"
              data-after="-480"
              data-id="haproxy_listeners_fbout"
              data-colors=""
              data-decimal-digits="-1"
              role="application">
            </div>
          </fieldset>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}

{% block jquery_code %}
  
  var netdataTheme = 'slate';
  $('.content-wrapper').css('backgroundColor', '#263135');
  $('.content-wrapper').css('color', '#fff');

{% endblock %}