{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="template_helper">
            <p>{% trans "Note on Template: You can use <b style='color:#39454C;'>Jinja2 Template syntax</b>" %} (<a href="http://jinja.pocoo.org/docs/dev/" target="_blank">http://jinja.pocoo.org/docs/dev/</a>)</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="template_helper col-md-3">
            <div class="panel  panel-bordered panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "The following tags are available: "%}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><b style="color:#39454C;">&#123;&#123;style&#125;&#125;</color></b>: {% trans "The Cascading Style sheet section"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;form_begin&#125;&#125;</color></b>: {% trans "The starting &lt;form action='...'&gt;"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;form_end&#125;&#125;</color></b>: {% trans "The ending &lt;/form&gt;"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;input_submit&#125;&#125;</color></b>: {% trans "All the fields required for learning + the 'login' button"%}</li>
                    </ul>
                </div>
            </div>

            {% include "./images.html" %}
        </div>

        <div class="col-md-7">
            {{form.html_learning}}
            {{form.html_learning.errors}}
            <p class="text-center">
                <button type="button" @click="preview('html_learning')" class="btn btn-primary">{% trans "PREVIEW" %}</button>
            </p>
        </div>

        <div class="col-md-2">
            <div class="panel  panel-colorful panel-dark">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">{%  trans "Submit button name" %}</label>
                        {{ form.learning_submit_field }}
                        {{ form.learning_submit_field.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>