{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="template_helper">
            <p>{% translate "Note on Template: You can use <b style='color:#39454C;'>Jinja2 Template syntax</b>" %} (<a href="http://jinja.pocoo.org/docs/dev/" target="_blank">http://jinja.pocoo.org/docs/dev/</a>)</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="template_helper col-md-3">
            <div class="panel  panel-bordered panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">{% translate "The following tags are available: "%}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><b style="color:#39454C;">&#123;&#123;style&#125;&#125;</color></b>: {% translate "The Cascading Style sheet section"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;error_message&#125;&#125;</color></b>: {% translate "The error message when OTP code verification goes wrong"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;form_begin&#125;&#125;</color></b>: {% translate "The beginning &lt;form action='...'&gt;"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;form_end&#125;&#125;</color></b>: {% translate "The end &lt;/form&gt;"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;input_key&#125;&#125;</color></b>: {% translate "The key input"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;input_submit&#125;&#125;</color></b>: {% translate "The 'login' button"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;resend_button&#125;&#125;</color></b>: {% translate "The 'resend mail/sms' button"%}</li>
                        <li><b style="color:#39454C;">&#123;&#123;qrcode&#125;&#125;</color></b>: {% translate "The 'src' html tag of the TOTP QRcode"%}</li>
                    </ul>
                </div>
            </div>

            {% include "./images.html" %}
        </div>

        <div class="col-md-7">
            {{form.html_otp}}
            {{form.html_otp.errors}}
            <p class="text-center">
                <button type="button" @click="preview('html_otp')" class="btn btn-primary">{% translate "PREVIEW" %}</button>
            </p>
        </div>

        <div class="col-md-2">
            <div class="panel  panel-colorful panel-dark">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">{% translate "OTP key field name" %}</label>
                        {{ form.otp_key_field }}
                        {{ form.otp_key_field.errors }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">{% translate "OTP submit field name" %}</label>
                        {{ form.otp_submit_field }}
                        {{ form.otp_submit_field.errors }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">{% translate "OTP resend field name" %}</label>
                        {{ form.otp_resend_field }}
                        {{ form.otp_resend_field.errors }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">{% translate "Onetouch answer message" %}</label>
                        {{ form.otp_onetouch_field }}
                        {{ form.otp_onetouch_field.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
