{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ TITLE }} | {% trans "Installation" %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/smartWizard/smartWizard.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/pnotify/pnotify.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/skin-yellow.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/install.css' %}">
</head>
<body>
  <div class="install-container">
    <img id="wallpaper" src="{{ WALLPAPER }}" alt="wallpaper"/>
    <div class="text-block">
      <h3><b><i class="fa fa-warning">&nbsp;&nbsp;</i>{% trans "Initial installation is not completed" %}</b></h3>
      <p>{% trans "Please log in as vlt-adm to complete the installation." %}</p>
    </div>
  </div>

  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/fastclick/lib/fastclick.js' %}"></script>
  <script src="{% static 'plugins/pnotify/pnotify.min.js' %}"></script>
  <script src="{% static 'plugins/smartWizard/jquery.smartWizard.js' %}"></script>
  <script src="{% static 'js/adminlte.min.js' %}"></script>
  <script src="{% static 'js/install.js' %}"></script>
</body>
</html>