{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ TITLE }} | {% trans "Installation" %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/font-awesome4/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/smartWizard/smartWizard.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/pnotify/pnotify.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/nifty.min.css' %}">
</head>
<body>
  <div class="install-container">
    <div class="text-block">
      <h3><b><i class="fa fa-warning">&nbsp;&nbsp;</i>{% trans "Initial installation is not completed" %}</b></h3>
      <p>{% trans "Please log in as vlt-adm to complete the installation. <br>/home/vlt-adm/gui/cluster_create.sh or /home/vlt-adm/gui/cluster_join.sh should be good starting points" %}</p>
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap-wizard/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/pnotify/pnotify.min.js' %}"></script>
  <script src="{% static 'plugins/smartWizard/jquery.smartWizard.js' %}"></script>
  <script src="{% static 'js/nifty.min.js' %}"></script>
</body>
</html>