{% extends "layout2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css_include %}


{% endblock %}

{% block js_include %}
  <script src="{% static 'js/listener.js' %}"></script>
{% endblock %}


{% block content %}

  <section class="content">
    <form id="frontend_edit_form" class="form-horizontal bootstrap-validator-form" action="{% url 'services.frontend.edit' object_id %}" method="post" novalidate="novalidate">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          {% if save_error or form.non_field_errors %}
          <div class="panel panel-danger">
            <div class="panel-heading">
              {# If there is save/configuration errors #}
              {% if save_error %}
                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                  <li class="active"><a href="#tab_1" data-toggle="tab">{% trans "Message" %}</a></li>
                  <li><a href="#tab_2" data-toggle="tab">{% trans "Advanced informations" %}</a></li>
                </ul>
                <h4 class="panel-title">{% trans "Configuration error" %}</h4>
              {% endif %}
              {% if form.non_field_errors %}
                <h4 class="panel-title"><i class="icon fa fa-ban"></i> {% trans "Form errors" %} </h4>
              {% endif %}
            </div>
            <div class="panel-body">
              {# Print form errors correctly #}
              {% if form.non_field_errors %}
                <div>
                  {{ form.non_field_errors|safe }}
                </div>
              {% endif %}
              {# If there is save/configuration errors #}
              {% if save_error %}
                <div>
                  <div class="tab-content no-padding">
                    <div class="tab-pane active" id="tab_1">
                      <pre class="console-type">{{ save_error.0 }}</pre>
                    </div>
                    <div class="tab-pane" id="tab_2">
                      <pre class="console-type">{{ save_error.1 }}</pre>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <div class="panel">
            <div class="panel-body">
              <div class="nav-tabs-custom nav-tabs-no-margin">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_general" data-toggle="tab">{% trans "General" %}</a></li>
                  <li><a href="#tab_network" data-toggle="tab" class="network-mode">{% trans "Listeners" %}</a></li>
                  <li><a href="#tab_api_client" data-toggle="tab" class="api-mode">{% trans "API Client" %}</a></li>
                  <li><a href="#tab_http" data-toggle="tab" class="http-mode">{% trans "HTTP Options" %}</a></li>
                  <li><a href="#tab_headers" data-toggle="tab" class="http-mode">{% trans "HTTP Headers" %}</a></li>
                  <li><a href="#tab_enrichment" data-toggle="tab" class="logging">{% trans "Logs Enrichment" %}</a></li>
                  <li><a href="#tab_logging" data-toggle="tab" class="logging">{% trans "Logs Forwarder" %}</a></li>
                  <li><a href="#tab_custom" data-toggle="tab" class="haproxy-conf">{% trans "Custom conf" %}</a></li>
                </ul>
                <div class="tab-content">
                  <br/>
                  <div class="tab-pane active" id="tab_general">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Enable listener" %}</label>
                          <div class="col-sm-5">
                            {{form.enabled}}
                            {{form.enabled.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">{% trans "Friendly name" %}</label>
                            <div class="col-sm-5">
                              {{form.name}}
                              {{form.name.errors|safe}}
                            </div>
                          </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Mode" %}</label>
                          <div class="col-sm-5">
                            {{form.mode}}
                            {{form.mode.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row tcp-mode log-mode http-mode impcap-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Enable logging" %}</label>
                          <div class="col-sm-5">
                          {{form.enable_logging}}
                          {{form.enable_logging.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode http-mode -->
                    <div class="row http-mode-logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Log level" %}</label>
                          <div class="col-sm-5">
                            {{form.log_level}}
                            {{form.log_level.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode-logging -->
                    <div class="row http-mode-logging tcp-mode-logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Store logs into cluster database" %}</label>
                          <div class="col-sm-5">
                            <input type="checkbox" class="js-switch" id="stock_logs_locally"/>
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode-logging -->
                    <div class="row logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Archive logs on system" %}</label>
                          <div class="col-sm-5">
                            <input type="checkbox" class="js-switch" id="archive_logs"/>
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode-logging -->
                    <div class="row log-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Listening mode" %}</label>
                          <div class="col-sm-5">
                            {{form.listening_mode}}
                            {{form.listening_mode.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row log-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Input logs type" %}</label>
                          <div class="col-sm-5">
                            {{form.ruleset}}
                            {{form.ruleset.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row log-mode forwarder-tag">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.parser_tag.label }}</label>
                          <div class="col-sm-5">
                            {{form.parser_tag}}
                            {{form.parser_tag.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row log-mode file-mode api-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.node.label }}</label>
                          <div class="col-sm-5">
                            {{form.node}}
                            {{form.node.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row log-mode file-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.file_path.label }}</label>
                          <div class="col-sm-5">
                            {{form.file_path}}
                            {{form.file_path.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row log-mode listening-tcp">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Disable 'Octet-counted framing' (advanced) :" %}</label>
                          <div class="col-sm-5">
                            {{form.disable_octet_counting_framing}}
                            {{form.disable_octet_counting_framing.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Tags" %}</label>
                          <div class="col-sm-5">
                            {{form.tags}}
                            {{form.tags.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row -->
                    <div class="row impcap-mode log-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Darwin policy" %}</label>
                          <div class="col-sm-5">
                            {{form.darwin_policy}}
                            {{form.darwin_policy.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row impcap-mode -->
                  </div> <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_network">

                    <div class="panel-heading">
                      <div class="panel-control">
                        <a class="btn btn-flat btn-primary" id="add_listener"><i class="fa fa-plus-circle">&nbsp;</i>Add an entry</a>
                      </div>
                    </div>
                    <div class="row http-mode log-mode tcp-mode">
                      <div class="col-md-12">
                        <table id="listener_table" class="table table-striped table-bordered table-hover dt-responsive nowrap table-datatable">
                          <!-- Here are the attributes of Listener class -->
                          <thead>
                            <tr>
                              <th style="visibility:hidden;">Id</th>
                              <th>{% trans "Listen Address(es)" %}</th>
                              <th>{% trans "Port" %}</th>
                              <th>{% trans "TLS Profile" %}</th>
                              <th>{% trans "Allow from" %}</th>
                              <th>{% trans "Max src" %}</th>
                              <th>{% trans "Max rate" %}</th>
                              <th>{% trans "Delete" %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for l in listeners %}
                              {{ l.as_table_td|safe }}
                            {% endfor %}
                          </tbody>
                        </table>
                        {{ form.listeners.errors|safe }}
                        <input id="listeners" name="listeners" value="" type="hidden">
                      </div>
                    </div>
                    <div class="row impcap-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.impcap_intf.label }}</label>
                          <div class="col-sm-5">
                            {{form.impcap_intf}}
                            {{form.impcap_intf.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row impcap-mode -->
                    <div class="row impcap-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.impcap_filter_type.label }}</label>
                          <div class="col-sm-5">
                            {{form.impcap_filter_type}}
                            {{form.impcap_filter_type.errors|safe}}
                          </div>
                        </div>
                      </div> <!-- col-md-12 -->
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{ form.impcap_filter.label }}</label>
                          <div class="col-sm-5">
                            {{form.impcap_filter}}
                            {{form.impcap_filter.errors|safe}}
                          </div>
                        </div>
                      </div> <!-- col-md-12 -->
                    </div> <!-- /.row impcap-mode -->
                  <fieldset class="col-lg-12 sol-sm-12 haproxy-conf">
                      <legend>{% trans "Timeout options" %}</legend>
                      <div class="row haproxy-conf">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">{% trans "Timeout connect" %}</label>
                            <div class="col-sm-5">
                              {{form.timeout_connect}}
                              {{form.timeout_connect.errors|safe}}
                            </div>
                            <div class="col-sm-2">
                              {% trans " ms" %}
                            </div>
                          </div>
                        </div>
                      </div> <!-- /.row -->
                      <div class="row haproxy-conf">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">{% trans "Timeout client" %}</label>
                            <div class="col-sm-5">
                              {{form.timeout_client}}
                              {{form.timeout_client.errors|safe}}
                            </div>
                            <div class="col-sm-2">
                              {% trans " s" %}
                            </div>
                          </div>
                        </div>
                      </div> <!-- /.row -->
                      <div class="row http-mode">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-sm-4 control-label">{{form.timeout_keep_alive.label}}</label>
                            <div class="col-sm-5">
                              {{form.timeout_keep_alive}}
                              {{form.timeout_keep_alive.errors|safe}}
                            </div>
                            <div class="col-sm-2">
                              {% trans " ms" %}
                            </div>
                          </div>
                        </div>
                      </div> <!-- /.row -->
                    </fieldset>
                  </div>
                  <div class="tab-pane" id="tab_http">
                    <div class="row http-mode">
                     <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">{{form.https_redirect.label}}</label>
                        <div class="col-md-5">
                          {{form.https_redirect}}
                          {{form.https_redirect.errors|safe}}
                        </div>
                      </div>
                     </div>
                    </div>
                    <div class="row http-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Enable cache" %}</label>
                          <div class="col-sm-5">
                            {{form.enable_cache}}
                            {{form.enable_cache.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode -->
                    <div class="row http-mode cache">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Cache total max size (Mb)" %}</label>
                          <div class="col-sm-5">
                            {{form.cache_total_max_size}}
                            {{form.cache_total_max_size.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode cache -->
                    <div class="row http-mode cache">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Cache max age (seconds)" %}</label>
                          <div class="col-sm-5">
                            {{form.cache_max_age}}
                            {{form.cache_max_age.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode cache -->
                    <div class="row http-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Enable compression" %}</label>
                          <div class="col-sm-5">
                            {{form.enable_compression}}
                            {{form.enable_compression.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode -->
                    <div class="row http-mode compression">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Supported compression algorithms" %}</label>
                          <div class="col-sm-5">
                            {{form.compression_algos}}
                            {{form.compression_algos.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode compression -->
                    <div class="row http-mode compression">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "MIME types compressed" %}</label>
                          <div class="col-sm-5">
                            {{form.compression_mime_types}}
                            {{form.compression_mime_types.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode compression -->
                    <div class="row http-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Error template" %}</label>
                          <div class="col-sm-5">
                            {{form.error_template}}
                            {{form.error_template.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row http-mode -->
                  </div> <!-- /.tab-pane tab_http -->
                  <div class="tab-pane" id="tab_headers">
                    <div class="row http-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Headers" %}</label>
                        </div>
                        <table id="header_table" class="table table-striped table-bordered table-hover dt-responsive nowrap table-datatable">
                          <thead>
                            <tr>
                              <th style="visibility:hidden;">Id</th>
                              <th>{% trans "Type" %}</th>
                              <th>{% trans "Action" %}</th>
                              <th>{% trans "Name" %}</th>
                              <th>{% trans "Match" %}</th>
                              <th>{% trans "Replace" %}</th>
                              <th>{% trans "Condition type" %}</th>
                              <th>{% trans "Condition" %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for h in headers %}
                              {{ h.as_table_td|safe }}
                            {% endfor %}
                          </tbody>
                        </table>
                        <div style="text-align:right;margin-top:10px;">
                          <div class="add-group">
                            <button class="addplus addlink" id="add_header" type="button">{% trans "Add an Entry" %}</button>
                          </div>
                        </div>
                        {{ form.headers.errors|safe }}
                        <input id="headers" name="headers" value="" type="hidden">
                      </div>
                    </div>
                  </div> <!-- /.tab-pane tab_headers -->
                  <div class="tab-pane" id="tab_logging">
                    <div class="row logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{form.log_forwarders.label}}</label>
                          <div class="col-sm-5">
                            {{form.log_forwarders}}
                            {{form.log_forwarders.errors|safe}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 log-failure">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{{form.log_forwarders_parse_failure.label}}</label>
                          <div class="col-sm-5">
                            {{form.log_forwarders_parse_failure}}
                            {{form.log_forwarders_parse_failure.errors|safe}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right">
                        <div class="form-group">
                          <button class="btn btn-box-tool" type="button" data-toggle="collapse" data-target=".browsers-compat">
                            <i class="fa fa-plus"></i> {% trans "Advanced" %}
                          </button>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row logging">
                      <div class="col-md-12">
                        <div class="form-group collapse browsers-compat">
                          <table id="log_forwarders_table" class="table table-striped table-bordered table-hover dt-responsive nowrap table-datatable">
                            <thead>
                              {{ log_om_table.as_table_headers|safe }}
                            </thead>
                            <tbody>
                            {{ log_om_table.as_table_td|safe }}
                            </tbody>
                          </table>
                          <div style="text-align:right;margin-top:10px;">
                            <div class="add-group">
                              <button class="addplus addlink" id="add_log_fwd_entry" data-id="request_data_get" type="button">{% trans "Add an Entry" %}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row logging">
                      <div class="col-md-12">
                        <div class="form-group collapse browsers-compat">
                          <label class="col-sm-4 control-label">{% trans "Logging conditions" %}</label>
                          <div class="col-sm-5">
                            {{form.log_condition}}
                            {{form.log_condition.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.tab-pane tab_logging -->
                  <div class="tab-pane" id="tab_enrichment">
                    <div class="row logging http-mode-logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Enable reputation logging" %}</label>
                          <div class="col-sm-5">
                            {{form.enable_logging_reputation}}
                            {{form.enable_logging_reputation.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row reputation-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Reputation database IPv4" %}</label>
                          <div class="col-sm-5">
                            {{form.logging_reputation_database_v4}}
                            {{form.logging_reputation_database_v4.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row reputation-mode">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Reputation database IPv6" %}</label>
                          <div class="col-sm-5">
                            {{form.logging_reputation_database_v6}}
                            {{form.logging_reputation_database_v6.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row logging http-mode-logging">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-4 control-label">{% trans "Geoip database (v4 & v6)" %}</label>
                          <div class="col-sm-5">
                            {{form.logging_geoip_database}}
                            {{form.logging_geoip_database.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div> <!-- /.row log-mode -->
                    <div class="row logging">
                      {% if not reputationctx_form.reputation_ctx.field.choices %}
                        <a class="btn btn-flat btn-primary" href="{% url 'applications.reputation_ctx.edit' %}">
                          <i class="fa fa-plus-circle">&nbsp;
                          </i>
                          {% trans "No custom tags for now, create a new <b>Custom tags</b> object." %}
                        </a>
                      {% else %}
                        <div class="col-md-12">
                          <div class="form-group">
                            <table id="reputationctx_table" class="table table-striped table-bordered table-hover dt-responsive nowrap table-datatable">
                              <thead>
                                {{ reputationctx_form.as_table_headers|safe }}
                              </thead>
                              <tbody>
                              {% for reputationctx in reputation_contexts %}
                                {{ reputationctx.as_table_td|safe }}
                              {% endfor %}
                              </tbody>
                            </table>
                            <div style="text-align:right;margin-top:10px;">
                              <div class="add-group">
                                <button class="addplus addlink" id="add_reputationctx_entry" data-id="request_data_get" type="button">{% trans "Add an Entry" %}</button>
                              </div>
                            </div>
                            {{ form.reputation_ctx.errors|safe }}
                            <input id="reputation_contexts" name="reputation_contexts" value="" type="hidden">
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_custom">
                    <div class="row haproxy-conf">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{% trans "HAProxy Frontend Config" %}</label>
                          <div class="col-sm-8">
                            {{form.custom_haproxy_conf}}
                            {{form.custom_haproxy_conf.errors|safe}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.tab-pane tab_custom -->

                  <div class="tab-pane" id="tab_api_client">
                    <div class="row">
                      <div class="col-md-12 api_clients_row api_cybereason_row">
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{% trans "Cybereason Host" %}</label>
                          <div class="col-sm-5">
                            {{ form.cybereason_host }}
                            {{ form.cybereason_host.errors|safe }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{% trans "Cybereason Username" %}</label>
                          <div class="col-sm-5">
                            {{ form.cybereason_username }}
                            {{ form.cybereason_username.errors|safe }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{% trans "Cybereason Password" %}</label>
                          <div class="col-sm-5">
                            {{ form.cybereason_password }}
                            {{ form.cybereason_password.errors|safe }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <a type="button" href="{% url 'services.frontend.list' %}" class="btn btn-flat btn-default">{% trans "Cancel" %}</a>
              <button type="submit" class="btn btn-info btn-flat pull-right">{% trans "Submit" %}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

{% endblock %}

{% block jquery_code %}
  {% if save_error %}
    notify('error', '{% trans "Error" %}', '{{ save_error.0 }}');
  {% endif %}

  {% if errors %}
    notify('error', '{% trans "Error" %}', '{{ errors }}');
  {% endif %}

  var header_form_td = `{{header_form.as_table_td|safe}}`
  var listener_form_td = `{{listener_form.as_table_td|safe}}`;
  var log_om_table_td = `{{log_om_table.as_table_td|safe}}`;
  var reputationctx_form_td = `{{reputationctx_form.as_table_td|safe}}`;

{% endblock %}
