{% extends "layout2.html" %}
{% load i18n %}
{% load static %}

{% block navleft %}
    <li><h3><i class="fa fa-folder-open"></i>Services -> Frontend -> Delete</h3></li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="panel box-delete">
            <form class="form-horizontal bootstrap-validator-form" action="{{ delete_url }}{{ object_id }}" method="post" novalidate="novalidate">
            {% csrf_token %}
                <input type="hidden" name="confirm" value="yes" />

                <div class="panel-heading">
                    <h3 class="panel-title">{% translate "Confirm delete" %}</h3>                        
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-12 text-center">
                            {% translate "Are you sure you want to delete " %}{{ frontend }} ? <br/>
                            {% if listeners %}
                            {% translate "All following listeners will be destroyed : " %}
                            <ul>{% for listener in listeners %}
                                <li>{{ listener }}</li>
                                {% endfor %}</ul>
                            {% endif %}
                        </label>
                    </div>
                </div>

                <div class="panel-footer">
                    {% if is_protected %}
                        <a href="{{ redirect_url }}"><button class="btn btn-warning btn-cancel" type="button">
                            <i class="fas fa-times">&nbsp;&nbsp;</i>{% translate "RETURN"  %}</button></a>
                    {% else %}
                        <a href="{{ redirect_url }}"><button class="btn btn-warning btn-cancel" type="button">
                            <i class="fas fa-times">&nbsp;&nbsp;</i>{% translate "CANCEL"  %}</button></a>
                        <button id="submit" class="btn btn-danger pull-right btn-save" type="submit">
                            <i class="fas fa-check">&nbsp;&nbsp;</i>{% translate "Yes" %}
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}

{% block jquery_code  %}
  
{% endblock %}