{% load i18n %}

<div class="col-md-12 api_collectors_row" id="collector_{{form.name}}_row">
    {% for field in form %}
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
            {{ field }}
            {{ field.errors|safe }}
        </div>
        {% comment %} TODO The idea is to have a specific attribute on some fields, to add this button for the specific field {% endcomment %}
        {% if field.fetch_data %}
        <div class="text-center mar-btm">
            <button class="btn btn-primary fetch_data_api_parser" data-target="{{field.id}}" data-type="select" type="button">
                {% translate "Fetch collector's additional data" %}
            </button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
