<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.verify_ssl.label }}</label>
        <div class="col-sm-5">
            {{ form.verify_ssl }}
            {{ form.verify_ssl.errors|safe }}
        </div>
    </div>
</div>
<div class="col-md-12" id="api_parser_custom_certificate">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.custom_certificate.label }}</label>
        <div class="col-sm-5">
            {{form.custom_certificate}}
            {{form.custom_certificate.errors|safe}}
        </div>
    </div>
</div>
